@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-default);
}

/* Fontes */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
}

/* Cores */
:root {
    /* Background's*/
    --section-bg: #ececec;
    --hero-bg: #00649c;

    /* Color's */
    --black: #000;
    --white: #fff;
    --blue: #09014a;
    --red: #a71113;
    --yellow: #ffcf00;
}

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}

/* Geral */
body {
    background: var(--white);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: var(--font-secondary);
}

section {
    overflow: hidden;
    padding: 80px 0;
    scroll-margin-top: 90px;
    background: var(--white);
    overflow: clip;
}

a {
    text-decoration: none;
}

/* Header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 997;
    height: 65px;
    background-color: #ebecf1;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    height: 65px;
    padding: 1.5rem 6rem;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #000000;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #000000;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px;
    margin: -30px 0;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu-icon i {
    font-size: 26px;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }

}

.nav-link::after {
    content: "";
    position: relative;
    width: 0;
    height: 2px;
    display: block;
    right: 0;
    background: #e61313;
    transition:  width 0.7s ease, bg-color 0.7s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
    background: #e61313;
}

/* Hero Section */
#hero {
    width: 100%;
    height: 600px;
    background: var(--hero-bg);
    background-size: cover;
    position: relative;
}

.container {
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    background: var(--hero-bg);
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
  
.container img {
    width: 750px;
    height: 100%;
}
  
.hero-text {
    width: 80%;
}
  
.hero-text h2 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}
  
.hero-text p {
    font-size: 1.2rem;
    color: var(--white);
}
  
@media (max-width: 884px) {
    .container {
      margin-top: 10px;
      flex-direction: column;
    }
    .hero-text {
      width: 100%;
      text-align: center;
    }
    .hero-text h1 {
      font-size: 3rem;
    }
}
  
@media (max-width: 678px) {
    .hero-text h1 {
      font-size: 2rem;
    }
}

.p {
    color: var(--blue);
}

.q {
    color: var(--yellow);
}

.e {
    color: var(--red);
}

/* Top Button*/
#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}

/* Wave Hero */
.wave-hero {
    width: 100%;
    background: var(--white);
    margin-top: 30px;
    position: relative;
}

svg {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Sobre */
#sobre {
    padding: 30px 30px 5% 30px;
    height: 100vh;
}

#sobre h2 {
    font-size: 32px;
    font-weight: bold;
    padding: 6px 0 0 20px;
    position: relative;
}

#sobre h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 50px;
    background: #a82121;
    margin-bottom: 9px;
    left: 0;
    top: 0;
}

#sobre p {
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
    margin: 28px 8px 8px 8px;
}

#sobre img {
    width: 275px;
    height: 183px;
    margin: 4px 0 0 500px;
}

/* Causas */
#causas {
    padding: 30px 30px 5% 30px;
    width: 100%;
    height: 100vh;
}

#causas h2 {
    font-size: 32px;
    font-weight: bold;
    padding: 6px 0 0 20px;
    position: relative;
}

#causas h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 50px;
    background: #15dffa;
    margin-bottom: 9px;
    left: 0;
    top: 0;
}

#causas p {
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
    margin: 28px 8px 8px 8px;
}

.causas-img {
    width: 100%;
    height: 370px;
    margin: 18px 8px;
}

/* Graus*/
#graus {
    padding: 30px 30px 5% 30px;
    width: 100%;
    height: 100vh;
}

#graus h2 {
    font-size: 32px;
    font-weight: bold;
    padding: 6px 0 0 20px;
    position: relative;
}

#graus h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 50px;
    background: #15dffa;
    margin-bottom: 9px;
    left: 0;
    top: 0;
}

/* Graus*/
.container-graus {
    margin: 40px 10px;
    display: grid;
    gap: 20px;
}

.nvl-1 {
    background-color: #1081ece3;
    justify-content: center;
    border-radius: 15px;
    padding: 22px;
    width: 100%;
}

.nvl-2 {
    background-color: #1081ece3;
    justify-content: center;
    border-radius: 15px;
    padding: 22px;
    width: 100%;
}

.nvl-3 {
    background-color: #1081ece3;
    justify-content: center;
    border-radius: 15px;
    padding: 22px;
    width: 100%;
}

.nvl-3 h3,
.nvl-2 h3,
.nvl-1 h3 {
    color: var(--white-color);
}

.nvl-3 p,
.nvl-2 p,
.nvl-1 p {
    text-indent: 20px;
    text-align: justify;
    color: var(--white-color);
    font-size: 20px;
    margin: 8px 8px 8px 8px;
}

.text-1:hover {
    transform: scale(1.01);
    transition: 1.3s;
}

.text-2:hover {
    transform: scale(1.01);
    transition: 1.3s;
}

.text-3:hover {
    transform: scale(1.01);
    transition: 1.3s;
}