@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

/* Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Gerais*/
:root {
    --bg-color: #103ebdde;
    --section-bg: #ececec;
    --black-color: #000;
    --white-color: #fff;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
}

body {
    background: var(--bg-color);
    overflow-x: hidden;
    height: 9000px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0e0c0c;
    font-family: 'Arial', sans-serif;
}

section {
    overflow: hidden;
}

/* Header */
header i {
    font-size: 30px;
    color: #ffffff;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}
  
nav a:hover {
    opacity: 0.7;
}

nav {
    top: 0;
    position: fixed;
    width: 100%;
    background: #23232e;
    align-items: center;
    justify-content: space-around;
    display: flex;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    height: 8vh;
    z-index: 5;
}
  
.nav-list {
    align-items: center;
    list-style: none;
    display: flex;
}
  
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
  
.menu {
    display: none;
    cursor: pointer;
}
  
.menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
  
@media (max-width: 990px) {
    body {
      overflow-x: hidden;
    }

    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }

    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }

    .menu {
      display: block;
    }
}
  
.nav-list.active {
    transform: translateX(0);
}
  
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.menu.active .line2 {
    opacity: 0;
}
  
.menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Hero */
#banner img {
    width: 100%;
    height: 600px;
}

/* Sobre */
#sobre {
    background: var(--section-bg);
    padding: 30px 30px 5% 30px;
    width: 100%;
    height: 100vh;
}

#sobre h2 {
    font-size: 32px;
    font-weight: bold;
    padding: 6px 0 0 20px;
    position: relative;
}

#sobre h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 50px;
    background: #15dffa;
    margin-bottom: 9px;
    left: 0;
    top: 0;
}

#sobre p {
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
    margin: 28px 8px 8px 8px;
}

#sobre img {
    width: 275px;
    height: 183px;
    margin: 4px 0 0 500px;
}

/* Graus*/
#causas {
    background: var(--section-bg);
    padding: 30px 30px 5% 30px;
    width: 100%;
    height: 100vh;
}

#causas h2 {
    font-size: 32px;
    font-weight: bold;
    padding: 6px 0 0 20px;
    position: relative;
}

#causas h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 50px;
    background: #15dffa;
    margin-bottom: 9px;
    left: 0;
    top: 0;
}

#causas p {
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
    margin: 28px 8px 8px 8px;
}

.causas-img {
    width: 100%;
    height: 370px;
    margin: 18px 8px;
}

/* Graus*/

#graus {
    background: var(--section-bg);
    padding: 30px 30px 5% 30px;
    width: 100%;
    height: 100vh;
}

#graus h2 {
    font-size: 32px;
    font-weight: bold;
    padding: 6px 0 0 20px;
    position: relative;
}

#graus h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 50px;
    background: #15dffa;
    margin-bottom: 9px;
    left: 0;
    top: 0;
}

.nvl-3 h3 {
    margin-top: 40px;
}

.nvl-3 p {
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
    margin: 8px 8px 8px 8px;
}

.nvl-2 {
    text-align: right;
}

.nvl-2 p {
    text-indent: 20px;
    text-align: right;
    font-size: 20px;
    margin: 8px 8px 8px 8px;
}

.nvl-1 h3 {
    margin-top: 20px;
}

.nvl-1 p {
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
    margin: 8px 8px 8px 8px;
}
