@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

/* Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Gerais*/
:root {
    --bg-color: #103ebdde;
    --section-bg: #ececec;
    --black-color: #000;
    --white-color: #fff;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    background: var(--white-color);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: 'Arial', sans-serif;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

/* Menu */
.home::after {
    content: "";
    position: relative;
    width: 0;
    height: 2px;
    display: block;
    right: 0;
    background: #a82121;
    transition:  width 0.5s ease, bg-color 0.5s ease;
}

.home:hover::after {
    width: 100%;
    left: 0;
    background: #a82121;
}

.causas::after {
    content: "";
    position: relative;
    width: 0;
    height: 2px;
    display: block;
    right: 0;
    background: #000;
    transition:  width 0.5s ease, bg-color 0.5s ease;
}

.causas:hover::after {
    width: 100%;
    left: 0;
    background: #000;
}

.graus::after {
    content: "";
    position: relative;
    width: 0;
    height: 2px;
    display: block;
    right: 0;
    background: #000;
    transition:  width 0.5s ease, bg-color 0.5s ease;
}

.graus:hover::after {
    width: 100%;
    left: 0;
    background: #000;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

nav{
    width: 100%;
    height: 8vh;
    z-index: 5;
    padding: 4px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #15dffa;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin: 0 40px;
}

nav ul li a{
    color: #000000;
    text-decoration: none;
}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #23232e;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover {
    transform: scale(1.01);
    transition: 1.3s;
}

.btn-contato button.rolagem {
    background-color: #FE775A;
}

/* Banner */
#hero {
    width: 100%;
    height: 100vh;
    background: url('https://img.freepik.com/fotos-gratis/3d-paisagem-montanhosa-com-ceu-por-do-sol_1048-11202.jpg') center;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    justify-content: center;
    text-align: center;
}

#hero:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* Sobre */
#sobre {
    background: var(--section-bg);
    padding: 30px 30px 5% 30px;
    height: 100vh;
}

#sobre h2 {
    font-size: 32px;
    font-weight: bold;
    padding: 6px 0 0 20px;
    position: relative;
}

#sobre h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 50px;
    background: #a82121;
    margin-bottom: 9px;
    left: 0;
    top: 0;
}

#sobre p {
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
    margin: 28px 8px 8px 8px;
}

#sobre img {
    width: 275px;
    height: 183px;
    margin: 4px 0 0 500px;
}

/* Causas */
#causas {
    background: var(--section-bg);
    padding: 30px 30px 5% 30px;
    width: 100%;
    height: 100vh;
}

#causas h2 {
    font-size: 32px;
    font-weight: bold;
    padding: 6px 0 0 20px;
    position: relative;
}

#causas h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 50px;
    background: #15dffa;
    margin-bottom: 9px;
    left: 0;
    top: 0;
}

#causas p {
    text-indent: 20px;
    text-align: justify;
    font-size: 20px;
    margin: 28px 8px 8px 8px;
}

.causas-img {
    width: 100%;
    height: 370px;
    margin: 18px 8px;
}

/* Graus*/
#graus {
    background: var(--section-bg);
    padding: 30px 30px 5% 30px;
    width: 100%;
    height: 100vh;
}

#graus h2 {
    font-size: 32px;
    font-weight: bold;
    padding: 6px 0 0 20px;
    position: relative;
}

#graus h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 50px;
    background: #15dffa;
    margin-bottom: 9px;
    left: 0;
    top: 0;
}

/* Graus*/
.container-graus {
    margin: 40px 10px;
    display: grid;
    gap: 20px;
}

.nvl-1 {
    background-color: #1081ece3;
    justify-content: center;
    border-radius: 15px;
    padding: 22px;
    width: 100%;
}

.nvl-2 {
    background-color: #1081ece3;
    justify-content: center;
    border-radius: 15px;
    padding: 22px;
    width: 100%;
}

.nvl-3 {
    background-color: #1081ece3;
    justify-content: center;
    border-radius: 15px;
    padding: 22px;
    width: 100%;
}

.nvl-3 h3,
.nvl-2 h3,
.nvl-1 h3 {
    color: var(--white-color);
}

.nvl-3 p,
.nvl-2 p,
.nvl-1 p {
    text-indent: 20px;
    text-align: justify;
    color: var(--white-color);
    font-size: 20px;
    margin: 8px 8px 8px 8px;
}

.text-1:hover {
    transform: scale(1.01);
    transition: 1.3s;
}

.text-2:hover {
    transform: scale(1.01);
    transition: 1.3s;
}

.text-3:hover {
    transform: scale(1.01);
    transition: 1.3s;
}